body{
    background-color: lightgray;
}


tr,th, td{
    border: navy solid 2px;
    text-align: center;
    padding: 5px;
}

table{
    border-collapse: collapse;
}

a{
    text-decoration: none;
    font-weight: bold;
    color:blue;
}

h2{
    background-color: floralwhite;
}

